.orderPanel{
    &-list{
        display: flex;
        flex-direction: column;
        text-align: center; 
        & li{ 
            list-style: none; 
            align-self: center; 
            margin: 5px; 
            border-radius: 10px;
            padding: 12px 117px ; 
            -webkit-box-shadow: -2px 0px 19px -6px rgba(0,0,0,0.75); 
            -moz-box-shadow: -2px 0px 19px -6px rgba(0,0,0,0.75);
            box-shadow: -2px 0px 19px -6px rgba(0,0,0,0.75);
        }
    }
}


 
 
 